body {
  /* background-color: #000; */
  padding: 0;
  margin: 0;
}
.container {
  margin: auto;
  padding: 1em 0;
  /* width: 90%; */
  max-width: 900px;
  font-family: sans-serif;
  background: #000;
  color: white;
}
.content {
  margin: 1em;
}
p {
  font-size: 30px;
  text-align: left;
  line-height: 1.4em;
}
section p {
  margin-bottom: 0.5em;
  margin-top: 0;
}

h1 {
  font-size: 40px;
}

footer {
  font-size: 40px;
  color: black;
  background: white;
  padding: 1em 0;
}

a {
  color: currentColor;
}

section {
  text-align: center;
}

img {
  width: 100%;
  max-width: 600px;
}

.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}

.sub-grid {
  display: flex;
}

figure {
  margin: 2em 10px 0;
  display: block;
}
figcaption {
  font-size: 2em;
}

.box-1 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-1 > img {
  width: 80%;
}
.box-1 {
  background: #e89a20;
}

.box-2 {
  background: #02bf63;
}

.img-half {
  width: 50%;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 100px;
  }
  p {
    font-size: 32px;
  }
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media print {
  @page {
    size: A4;
  }

  .container {
    font-size: 40%;
  }
}
